## SQL queries

Query : = Request to a database

### SQL query structure
```sql
SELECT [DISTINCT] target-list FROM relation-list WHERE qualification
```

#### Querying Multiple Relations

```sql
SELECT S.name, E.cid
FROM Students S, Enrolled E
WHERE S.sid=E.sid AND E.grade="B";
```

#### Range variables

Aliases for easier calling of table
    
Example: 
```sql
SELECT S.sname FROM Sailors S, Reserves R WHERE S.sid=R.sid AND R.bid=103;
```

Or by using **AS**
```sql
SELECT S.age, S.age/10 AS age1, 12*S.age AS months
FROM Sailors S
WHERE S.sname = "dustin";
```

## String matching using LIKE

```sql
SELECT S.sname, S.age
FROM Sailors S
WHERE S.sname LIKE "B_%B";
```

- ” ” stands for any one character and ”%” stands for 0 or more arbitrary characters.
- So ”BAOBAB” would qualify, and also ”BOB”, but not ”BB” or ”BEN”

### DISTINCT

The "DISTINCT" keyword in the SQL query ensures that only unique values are returned.

```sql
SELECT DISTINCT R.sid
FROM Boats B,Reserves R
WHERE R.bid=B.bid AND
(B.color="red" OR
B.color="green");
```

### UNION
 combine the results of two or more SELECT statements into a single result set.

 ```sql
 SELECT student_id, name, age FROM Students_A
UNION
SELECT student_id, name, age FROM Students_B;
```

**UNION ALL** : Ignore and will show duplicates

### INNER JOIN

```sql
SELECT Students.name, Grades.subject, Grades.grade
FROM Students
INNER JOIN Grades ON Students.student_id = Grades.student_id;
```


#### INNER JOIN VS UNION ALL
INNER JOIN is used to combine related rows from different tables based on a common column, while UNION ALL is used to combine the results of multiple queries into a single result set, including all rows from each query, regardless of duplicates.

### INTERSECT

 INTERSECT operator to find the intersection of two result sets. It looks for common rows between the two SELECT queries.

 Eg.
```sql
SELECT S.sid
FROM Sailors S, Boats B, Reserves R
WHERE S.sid=R.sid AND R.bid=B.bid AND B.color="red"
INTERSECT
SELECT S.sid
FROM Sailors S, Boats B, Reserves R
WHERE S.sid=R.sid AND R.bid=B.bid AND B.color="green"
```