## SQL queries

Query : = Request to a database

### SQL query structure
```sql
SELECT [DISTINCT] target-list FROM relation-list WHERE qualification

#### Querying Multiple Relations

```sql
SELECT S.name, E.cid
FROM Students S, Enrolled E
WHERE S.sid=E.sid AND E.grade="B";

#### Range variables

Aliases for easier calling of table
    
Example: 
```sql
SELECT S.sname FROM Sailors S, Reserves R WHERE S.sid=R.sid AND R.bid=103;
```

Or by using **AS**
```sql
SELECT S.age, S.age/10 AS age1, 12*S.age AS months
FROM Sailors S
WHERE S.sname = "dustin";
```

## String matching using LIKE

```sql
SELECT S.sname, S.age
FROM Sailors S
WHERE S.sname LIKE "B_%B";
```

- ” ” stands for any one character and ”%” stands for 0 or more arbitrary characters.
- So ”BAOBAB” would qualify, and also ”BOB”, but not ”BB” or ”BEN”